body {
  margin: 0;
  font-family: sans-serif;

  a {
    color: #000;
  }

  span {
    display: flex;

    @media (min-width: 10px) {
      display: none;
    }
  }

  .foo {
    display: grid;

    @media (min-width: 10px) {
      display: none;
    }
  }
}
